@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Six+Caps&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

::selection {
    color : #FFFFFF;
    background: #232526;
}

/* MAPA */
#mapBg {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 900;
    overflow: hidden; 
}

.telemetria{
    background-color: rgba(27, 31, 35, 0.90);
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    font-family: Iceland, arial;
    font-size: 1.3rem;
    letter-spacing: 4px;
    line-height: 1.9rem;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    
    padding: 30px;
    margin-bottom: 1rem;
    margin-right: 1rem;
    z-index: 999;
}
/* FIM MAPA */

/* TELEMETRIA */
.span{
    width: 420px;
    font-style: unset;
}

.span span{
    color: aqua;
}

#name{
    font-size: 1.7rem;
    color: #FFFFFF;
}
/* FIM TELEMETRIA */

/* LIVE IBM */
.IBM-video{
    margin-top: 1rem;
    margin-right: 1rem;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
}

.IBM-video iframe{
    width: 480px;
    height: 270px;
}
/* FIM LIVE IBM */

/* BOTÃO ALINHAR CENTRO */
.switch {
    display: inline-block;
    width: 60px;
    height: 34px;
    bottom: 0;
    left: 0;
    position: absolute;
    margin-left: 1rem;
    margin-bottom: 3rem;
    z-index: 999;
  }

/* BOTÃO OCUTAR LIVE */
.switch_2{
    display: inline-block;
    width: 60px;
    height: 34px;
    bottom: 0;
    left: 0;
    position: absolute;
    margin-left: 5.2rem;
    margin-bottom: 3rem;
    z-index: 999;
}

/* BOTÃO LIVE OPTION */
.switch_3{
    display: inline-block;
    width: 60px;
    height: 34px;
    bottom: 0;
    left: 0;
    position: absolute;
    margin-left: 9.4rem;
    margin-bottom: 3rem;
    z-index: 999;
}

/* BOTÃO OCUTAR TELEMETRIA */
.switch_4{
    display: inline-block;
    width: 60px;
    height: 34px;
    bottom: 0;
    left: 0;
    position: absolute;
    margin-left: 13.6rem;
    margin-bottom: 3rem;
    z-index: 999;
}

/* TEXTO BOTÃO */
.switch p, .switch_2 p, .switch_3 p, .switch_4 p{
    margin-top: 1rem;
    font-family: Iceland, arial;
    font-size: 1.2rem;
    text-align: center;
}

.toggle-thumb {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(27, 31, 35, 0.90);
    border-radius: 40px;
    cursor: pointer;
  }

.toggle-thumb:before {
    content: "";
    height: 26px;
    width: 26px;
    position: absolute;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: #E2E8F0;
    transition: .4s all ease;
}

.checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox:checked + .toggle-thumb:before {
    transform: translateX(26px);
}

.toggle-thumb {
    overflow: hidden;
}

svg:nth-child(1) {
    position: relative;
    left: -26px;    
}

svg {
    transition: .4s all ease;
}

.checkbox:checked + .toggle-thumb > svg {
    transform: translateX(26px);
}

.social-list{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    margin-left: 1rem;
    margin-top: 1rem;
}

.social-list a{
    color: rgba(27, 31, 35, 0.6);
    font-size:1.8rem;
    justify-content: center;
    transition: color 0.3s;
}

.social-list a:hover{
    color: #FFFFFF;
}
/* FIM BOTÃO */


/* LOADER */
.overlay{
    background-color: rgb(27, 31, 35);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* ------------------------------
        Responsividade
------------------------------ */ 

@media only screen and (max-width: 1100px){
    
    html{
        overflow: hidden;
    }

    #mapBg {
        height: 60vh;
    }
    
    .IBM-video iframe{
        width: 240px;
        height: 135px;
    }

    .telemetria{
        height: 40vh;
        line-height: 1.5rem;
        font-size: 1.3em;
        justify-content: center;
        position: relative;   
        margin-top: 0rem;
        margin-right: 0rem;
        padding: 0px;
        padding-left: 10vw;
        padding-bottom: 10px;
    }

    .span{
        width: 100vw;
        font-style: unset;
    }

    .switch {
        top: 0;
        margin-top: 1rem;
        margin-left: 1rem;
    }

    .switch_2{
        top: 0;
        margin-top: 1rem;
        margin-left: 5.2rem;
    }

    .switch_3{
        top: 0;
        margin-top: 1rem;
        margin-left: 9.4rem;
    }
    
    .switch_4{
        top: 0;
        z-index: 0;
    }

    .switch p{
        margin-top: 20px;
    }
    
    .switch_2 p{
        margin-top: 20px;
    }

    .social-list{
        left: auto;
        top: auto;
        right: 0;
        bottom: 0;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }
    
}

@media only screen and (max-width: 500px){
    
    html{
        overflow: auto;
        scroll-behavior: smooth;
    }

    #mapBg {
        height: 33vh;
    }
    
    .IBM-video{
        background-color: black;
        height: 33vh;
        width: 100%;
        display: flex;
        position: relative;
        margin-top: 0; 
    }

    .IBM-video iframe{
        width: 100%;
        height: 100%;
    }

    .telemetria{
        font-size: 0.9rem;
        height: 34vh;
    }

    .switch_2 {
       z-index: 0;
    }

    .switch_3{
        z-index: 0;
    }
}

@media only screen and (max-width: 400px){
    .telemetria{
        font-size: 0.8rem;
    }
}


@media only screen and (max-width: 350px){
    
    #mapBg {
        height: 37vh;
    }
    
    .IBM-video{
        height: 28vh;
    }

    .telemetria{
        height: 34vh;
    }

}


@media only screen and (max-height: 600px){
    .telemetria{
        line-height: 1rem;
    }

    .social-list a{
        font-size: 1.2rem;
    }
}